.fa-shopping-cart{
    font-size: 32px !important;
}
.navbar{
    background-color: #00695C !important;
}
.nav-link{           
color: white !important;
font-weight: bold !important;
}
.fa-user{
    font-size: 33px !important;
}
.fa-truck,.fa-headphones,.fa-thumbs-o-up{
    font-size: 50px !important;
    margin-right: 10px;
    color: #00695C;
}
h3{
    color: #00695C;
}
.card1,.card2,.card3{
    display: flex;
    width: 300px;
    height: 100px;
    box-shadow: 2px 4px 5px grey;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.newarrivals{
    margin-top: 50px;
}
.heading{
    text-shadow: 2px 4px #00695C;
    text-align: center;
    margin-top: 30px;
}
.card{
    width: 250px;
    height: auto !important;
    margin-bottom: 10px;
}
.btn-primary{
    width: 100%;
    background-color: #00695C;
}
.footer>h3{
    text-align: center;
    color: antiquewhite;
    background-color: #00695C;
    width: 100%;
    height: 70px;
}
.maincard{
    margin-top: 30px;
display: flex;
flex-direction: row;
justify-content: space-around;
flex-wrap: wrap;
}